[submodule "children/support/magit"]
	path = children/support/magit
	url = http://git.gitorious.org/magit/mainline.git
[submodule "children/support/twit"]
	path = children/support/twit
	url = git://github.com/ieure/twit-el.git
[submodule "children/support/org-mode"]
	path = children/support/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "children/support/emms"]
	path = children/support/emms
	url = git://git.sv.gnu.org/emms.git
[submodule "children/support/w3"]
	path = children/support/w3
	url = git://git.sv.gnu.org/w3.git
[submodule "emacs-rails"]
	path = emacs-rails
	url = http://github.com/spedrosa/emacs-rails.git
[submodule "children/support/egg"]
	path = children/support/egg
	url = http://github.com/bogolisk/egg.git
